
blockquote footer {
  color:grey;
  font-size: 150%;
  text-align: right;
  padding-right: 10%;

  &:before{
  content: "- ";
  }
}

blockquote {
  border: 0;
}

.btn {
 margin:auto;
}

.panel {
  background-color: white;
  margin: 1em 0 ;
  padding: 0.25em 1em;
  border: 1px #ccc solid;
}

.joke-vote{
  margin-top: 10px;
  float: right;
}

.joke-body{
  min-height: 75px;
}

.scoreCounter {
  text-align: center;
  margin:0;
  font-weight: 300;
}

.vote {
  background-color: transparent; 
  border: none;
  width: 47px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  
  &:active {
    outline: none;
    border: none;
  }
  
  &:focus {
    outline: 0;
  }
}

.upArrow {
  x: 0px;
  y: 0px;
  path {
    fill: #BBBBBB;
    fill-rule: evenodd;
    clip-rule: evenodd;
    margin: 0;
  }
}

.downArrow {
  x: 0px;
  y: 0px;
  path {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #BBBBBB;
  }
}

#upButton :hover {
  fill: #6CC576;
  cursor: pointer;
}

#downButton :hover {
  fill: #FF586C;
  cursor: pointer;
}