<button  *ngIf="!showJokeForm" (click)="showJokeForm = true">Add</button>
<div #jokeForm *ngIf="showJokeForm" class="panel">
  
  <label for="joke-text">Text <span style="color:red">*</span> :</label>
  <br/>
  <textarea [(ngModel)]="newJoke.text" style="width: 100%; resize:none;"></textarea>

  <br/>

  <label for="joke-anwser">Answer :</label>
  <input type="text" name="author" value="" [(ngModel)]="newJoke.answer">

  <label for="joke-author">Author :</label>
  <input type="text" name="author" value="" [(ngModel)]="newJoke.author">

  <br/>
  <hr/>
  <button class="btn" (click)="add()">Save</button> 
  <button (click)="showJokeForm = false">cancel</button> 
</div>

<h3 class="heading">All jokes</h3>

<div *ngFor="let joke of jokeList | async">
  <div class="panel">

    <div class="joke-vote">
      <button id="upButton" type="button" (click)="upvote(joke)" class="vote">
        <svg class="upArrow" viewBox="0 0 11.5 6.4" xml:space="preserve">
        <path d="M11.4,5.4L6,0C5.9-0.1,5.8-0.1,5.8-0.1c-0.1,0-0.2,0-0.2,0.1
      L0.1,5.4C0,5.6,0,5.7,0.1,5.9l0.4,0.4c0.1,0.1,0.3,0.1,0.4,0l4.8-4.8l4.8,4.8c0.1,0.1,0.3,0.1,0.4,0l0.4-0.4
      C11.5,5.7,11.5,5.6,11.4,5.4z"/>
        </svg>
      </button>
      <h2 class="scoreCounter">{{ joke.score }}</h2>
      <button id="downButton" type="button" (click)="downvote(joke)" class="vote">
        <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 11.5 6.4" xml:space="preserve">
          <path d="M0.1,0.9l5.4,5.4c0.1,0.1,0.1,0.1,0.2,0.1c0.1,0,0.2,0,0.2-0.1
        l5.4-5.4c0.1-0.1,0.1-0.3,0-0.4L11,0c-0.1-0.1-0.3-0.1-0.4,0L5.8,4.8L0.9,0C0.8-0.1,0.6-0.1,0.5,0L0.1,0.4C0,0.6,0,0.7,0.1,0.9z"/>
        </svg>
      </button>
    </div>

    <div class="joke-body">
      <p>{{ joke.text }}</p>

      <p *ngIf="!!joke.answer">Answer : {{ joke.answer }}</p>
    </div>

  </div>
</div>